

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-kicon class="example-tab-icon">thumb_up</mat-icon> -->
      Likes
    </ng-template>

    <div *ngFor="let art of likesByMe">
    <mat-card class="example-card">
      <mat-card-header>  
        <mat-card-subtitle>
              {{art.articleName}}
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    
    </div>


  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Dislikes
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!-- <mat-icon class="example-tab-icon">thumb_up</mat-icon> -->
      Comments
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>