

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>Likes
    </ng-template>

    <div *ngFor="let art of likesByMe">
      <mat-card class="example-card">
        <mat-card-header>  
          <mat-card-subtitle>
                {{art.articleName}}
          </mat-card-subtitle>
        </mat-card-header>
      </mat-card>    
    </div>


  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fa fa-thumbs-down" aria-hidden="true"></i>Dislikes
    </ng-template>
      <div *ngFor="let art of dislikesByMe">
          <mat-card class="example-card">
            <mat-card-header>  
              <mat-card-subtitle>
                    {{art.articleName}}
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>    
      </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
       <i class="fa fa-commenting-o" aria-hidden="true"></i>Comments
    </ng-template>
     <div *ngFor="let art of commentsByMe">
          <mat-card class="example-card">
            <mat-card-header>  
              <mat-card-subtitle>
                    <span class="articleName">{{art.articleName}}</span>
                    <p class="timestamp">{{art.timestamp}}</p>
              </mat-card-subtitle>
            </mat-card-header>
          </mat-card>    
      </div>
  </mat-tab>
</mat-tab-group>