.mat-card {
    padding: 0px 10px;
    margin: 20px;
    -webkit-box-shadow: 0 10px 10px -10px #000000;
    -moz-box-shadow: 0 10px 10px -10px #000000;
    box-shadow: 0 10px 10px -10px #000000;
}

.timestamp {
  color:rgb(156, 186, 212)
}
.articleName {
  color:rgb(61, 143, 214)
}