<div *ngFor="let data of articleData">

<mat-card class="example-card">
  <mat-card-header>  
    <mat-card-title>
      <h5>{{data.articleName}}</h5>
    <div class="blog-info">
    likes {{likeCounter(data.articleId)}} | deslikes {{deslikeCounter(data.articleId)}}
     | Comments {{commentsCounter(data.articleId)}}
    </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
 
  <mat-card-actions>
        <div class="btn btn-sm btn-primary btn-lg" (click)="onLike(data.articleId)">
          <span class="glyphicon glyphicon-thumbs-up"></span> Like
        </div>
        &nbsp; 
        <a href="#" class="btn  btn-sm btn-info btn-lg" (click)="onDeslike(data.articleId)">
          <span class="glyphicon glyphicon-thumbs-up"></span> Deslike
        </a>
         &nbsp; 
        <a href="#" class="btn  btn-sm btn-info btn-lg">
          <span class="glyphicon glyphicon-thumbs-up"></span> Share
        </a>
  </mat-card-actions>
</mat-card>
<hr/>

</div>