<div *ngFor="let data of articleData">

<mat-card class="example-card">
  <mat-card-header>  
    <mat-card-title>
      <h5>{{data.articleName}}</h5>
    <div class="blog-info">
    <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{likeCounter(data.articleId)}}
    <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{deslikeCounter(data.articleId)}}
    <i class="fa fa-share-alt" aria-hidden="true"></i> {{commentsCounter(data.articleId)}}
    </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    
  </mat-card-content>
 
  <mat-card-actions>
        <div class="btn btn-sm btn-primary btn-lg" (click)="onLike(data.articleId)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like
        </div>
        &nbsp; 
        <div href="#" class="btn  btn-sm btn-info btn-lg" (click)="onDisLike(data.articleId)">
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Deslike
        </div>
         &nbsp; 
        <div href="#" class="btn  btn-sm btn-info btn-lg">
           <i class="fa fa-share-alt" aria-hidden="true"></i> Share
        </div>
  </mat-card-actions>  
  <mat-card-footer>
    
 <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        People are talking about this...
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let comment of data.comments">
      <b>{{comment.author}}</b>
      <p>{{comment.description}}</p>
    </div>

  </mat-expansion-panel>
</mat-accordion>

 </mat-card-footer>
</mat-card>
</div>