<div *ngFor="let data of articleData">

<mat-card class="example-card">
  <mat-card-header>  
    <mat-card-title>
      <div class="row">
          <div class="col-md-3 col-sm-3">
            <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail" class="img-thumbnail" style="width: 200px">
          </div>
          <div class="col-md-9 col-sm-9">  
              <h5>{{data.articleName}}</h5>
              <div class="blog-info">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{likeCounter(data.articleId)}}
              <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{deslikeCounter(data.articleId)}}
              <i class="fa fa-commenting-o" aria-hidden="true"></i> {{commentsCounter(data.articleId)}}
              </div>
          </div>
      </div>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    
    <p>
   {{data.description}}
    </p>
    
  </mat-card-content>
 
  <mat-card-actions>
        <div class="btn btn-sm btn-primary btn-lg" (click)="onLike(data.articleId)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like
        </div>
        &nbsp; 
        <div href="#" class="btn  btn-sm btn-info btn-lg" (click)="onDisLike(data.articleId)">
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Deslike
        </div>
         &nbsp; 
        <div href="#" class="btn  btn-sm btn-info btn-lg">
           <i class="fa fa-share-alt" aria-hidden="true"></i> Share
        </div>
  </mat-card-actions>  
  <mat-card-footer>
    
 <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="commentsCaption">People are talking about this...</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div *ngFor="let comment of data.comments">
      <b>{{comment.author}}</b> &nbsp;
      <i *ngIf="comment.authorId == userId" class="fa fa-times" aria-hidden="true"  style="color:red;" (click)="onDelete(comment.commentsId, data.articleId);"></i>
      <p><i>{{comment.description}}</i></p>
    </div> 
    <form #commForm = "ngForm" (ngSubmit) = "onClickSubmit(commForm, data.articleId)" >
        <mat-form-field class="example-full-width">
              <input type = "text" matInput name = "commentText" placeholder = "Post a comment" ngModel>
        </mat-form-field>
        <button mat-raised-button type="submit">Send</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>



 </mat-card-footer>
</mat-card>
</div>